@charset "UTF-8";

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Initialize

// ----------------------------------------------------------------------------------------------------
// Import

@use "sass:map";
@use "sass:math";
@use "calc" as cc;

// ----------------------------------------------------------------------------------------------------
// 変数の定義(Global)

$global-font-size: 14px;
$gradation-pattern1: linear-gradient(to right, #000011, #1164FF, #FFFF99);
$gradation-pattern2: linear-gradient(to right, #FFFFFF, #1164FF, #FFFF99);

// Responsive Breakpoint
$width-list: (
	xs:	576,
	sm:	768,
	md:	992,
	lg:	1200,
	lx:	1400,
	hd: 1920,
) !default;

// ----------------------------------------------------------------------------------------------------
// mixinの定義

@mixin min-screen($breakpoint: md) {
	@media only screen and (min-width: #{map.get($width-list, $breakpoint) + 1}px) {
		@content;
	}
}

@mixin max-screen($breakpoint: md) {
	@media only screen and (max-width: #{map.get($width-list, $breakpoint)}px) {
		@content;
	}
}

// アニメーション設定
@mixin defaultFlash() {
	color: #FFFFFF;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

@mixin defaultFlashLight() {
	color: #000011;
	text-shadow: 0 0 0 rgba(0, 0, 17, 0);
}

// ----------------------------------------------------------------------------------------------------
// Functionの定義

/// Viewport Widthの演算
@function calc-width-viewport($value: 1000, $breakpoint: md) {
	@return cc.round-decimal(math.div($value, map.get($width-list, $breakpoint)) * 100, 3) + dvw;
}

/// Viewport Heightの演算
@function calc-height-viewport($value: 1000, $breakpoint: md) {
	@return cc.round-decimal(math.div($value, map.get($width-list, $breakpoint)) * 100, 3) + dvh;
}

@function calc-width-half($value: 1000, $dd, $breakpoint: md) {
	@return calc(#{math.div($value, 2) + $dd} + #{calc-width-viewport(math.div($value, 2), $breakpoint)});
}

@function calc-width-quater($value: 1000, $dd, $breakpoint: md) {
	@return calc(#{math.div($value, 4) + $dd} + #{calc-width-viewport(math.div($value, 4) * 3, $breakpoint)});
}

@function calc-height-half($value: 1000, $dd, $breakpoint: md) {
	@return calc(#{math.div($value, 2) + $dd} + #{calc-height-viewport(math.div($value, 2), $breakpoint)});
}

@function calc-height-quater($value: 1000, $dd, $breakpoint: md) {
	@return calc(#{math.div($value, 4) + $dd} + #{calc-height-viewport(math.div($value, 4) * 3, $breakpoint)});
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Abstract Style
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

%blockquote {
	padding: 1rem;
	margin: 10px;
	border-style: solid;
	border-width: 5px;

	h2 {
		margin-bottom: 1rem;
	}

	@media print, (prefers-color-scheme: light) {
		color: #FFFFFF;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * 共通項目
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

// ----------------------------------------------------------------------------------------------------
// CSS Initialize

/* http://meyerweb.com/eric/tools/css/reset/
 *  v2.0 | 20110126
 *  License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

// body {
// 	line-height: 1;
// }

// ol, ul {
// 	list-style: none;
// }

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: "";
		content: none;
	}
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

html {
	// rem指定用
	font-size: $global-font-size;
}

// ----------------------------------------------------------------------------------------------------
// Page Initialize
body {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-family: "Noto Sans JP", "メイリオ", "Meiryo", sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	color: #FFFFFF;
	background-color: #000011;
	background-image: linear-gradient(180deg, #000005, #000011 22%, #000011 70%, #00001C 85%);

	@include max-screen(md) {
		flex-direction: column;
		align-items: unset;
		justify-content: unset;
	}

	@media print, (prefers-color-scheme: light) {
		color: #000011;
		background-color: unset;
		background-image: unset;
	}
}

// bodyの位置から遠くなったことによるスタイル記述方法の変更
// この要素がrootとなる
.layout-body {
	> header {
		@media print {
			display: none;
		}
	}

	> input {
		&[type="checkbox"] {
			display: none;

			&.panel-switch {
				&:not(:checked) {
					+ nav {
						@include max-screen(md) {
							height: 0;
							padding: 0;
							margin: 0;
							// display: none;
							overflow: hidden;
							border: none;
						}
					}
				}
			}
		}
	}

	> .content {
		display: flex;
		flex-direction: column;
		width: calc(100% - 240px);
		min-height: 100vh;
		margin-left: 240px;

		@include max-screen(md) {
			width: 100%;
			margin-left: 0;
		}

		@media print {
			width: 100%;
			margin-left: 0;
		}
	}
}

a {
	color: #9999FF;
	text-decoration: none;
	transition: all 0.25s ease-out;

	&:hover {
		color: #FFCC66;

		@media (prefers-color-scheme: light) {
			color: #FF9900;
		}
	}

	@media print, (prefers-color-scheme: light) {
		color: #3333CC;
	}
}

b, strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.1rem;
}

dl {
	dd {
		margin-left: 2rem;
	}
}

ol, ul {
	list-style: none;

	li {
		&:not(:first-child) {
			margin-top: 5px;
		}
	}

	ul {
		margin-left: 2rem;
	}
}

ol {
	margin-left: 2rem;
}

blockquote {
	&.stub {
		@extend %blockquote;
		background-color: #000033;
		background-image: linear-gradient(to top left, #000011, #000033 20%, #000033 80%, #000011);

		border-color: #1164FF;
		border-image: linear-gradient(to top right, #1164FF, #000011, #1164FF) 1/5px 5px/0 stretch;

		@media print, (prefers-color-scheme: light) {
			background-image: linear-gradient(to top left, #FFFFFF, #000033 20%, #000033 80%, #FFFFFF);
			border-image-source: linear-gradient(to top right, #1164FF, #FFFFFF, #1164FF);
		}
	}

	&.cation {
		@extend %blockquote;
		background-color: #333300;
		background-image: linear-gradient(to top left, #000011, #333300 20%, #333300 80%, #000011);

		border-color: #FFFF33;
		border-image: linear-gradient(to top right, #FFFF33, #000011, #FFFF33) 1/5px 5px/0 stretch;

		@media print, (prefers-color-scheme: light) {
			background-image: linear-gradient(to top left, #FFFFFF, #333300 20%, #333300 80%, #FFFFFF);
			border-image-source: linear-gradient(to top right, #FFFF33, #FFFFFF, #FFFF33);
		}
	}

	&.danger {
		@extend %blockquote;
		background-color: #330000;
		background-image: linear-gradient(to top left, #000011, #330000 20%, #330000 80%, #000011);

		border-color: #FF0F0F;
		border-image: linear-gradient(to top right, #FF0F0F, #000011, #FF0F0F) 1/5px 5px/0 stretch;

		@media print, (prefers-color-scheme: light) {
			background-image: linear-gradient(to top left, #FFFFFF, #330000 20%, #330000 80%, #FFFFFF);
			border-image-source: linear-gradient(to top right, #FF0F0F, #FFFFFF, #FF0F0F);
		}
	}

	&.deprecated {
		@extend %blockquote;
		background-color: #330000;
		background-image: linear-gradient(to top left, #330000, #000033 20%, #000033 80%, #330000);

		border-color: #1164FF;
		border-image: linear-gradient(to top right, #1164FF, #FF0F0F, #1164FF) 1/5px 5px/0 stretch;
	}
}

// ----------------------------------------------------------------------------------------------------
// Class Initialize

.md {
	&-hide {
		@include max-screen(md) {
			display: none;
		}
	}

	&-show {
		@include min-screen(md) {
			display: none;
		}
	}
}

.mintyo {
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

// ----------------------------------------------------------------------------------------------------
// Vender Profile Initialize

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: transparent;

	&-track {
		// border-radius: 10px;
		background-color: transparent;
		// box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	}

	&-thumb {
		background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
		border-radius: 10px;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
		transition: all 0.1s ease;

		@media (prefers-color-scheme: light) {
			background-image: linear-gradient(to bottom right, rgba(102, 102, 102, 0.75), rgba(102, 102, 102, 0.25));
			box-shadow: 0 0 0 1px rgba(102, 102, 102, 0.3);
		}
	}

	&-corner {
		background-color: transparent;
	}
}

// ----------------------------------------------------------------------------------------------------
// Animation Initialize

@keyframes flashString {
	0% {
		@include defaultFlash();
	}

	90% {
		@include defaultFlash();
	}

	95% {
		$flash: #FFFF66;

		color: $flash;
		text-shadow: 0 0 0.25rem $flash, 0 0 0.5rem $flash, 0 0 0.75rem $flash, 0 0 1rem $flash, 0 0 1.25rem $flash, 0 0 1.5rem $flash, 0 0 1.75rem $flash;
	}

	100% {
		@include defaultFlash();
	}
}

@keyframes flashStringLight {
	0% {
		@include defaultFlashLight();
	}

	90% {
		@include defaultFlashLight();
	}

	95% {
		$flash: #FFFF66;

		color: $flash;
		text-shadow: 0 0 0.25rem $flash, 0 0 0.5rem $flash, 0 0 0.75rem $flash, 0 0 1rem $flash, 0 0 1.25rem $flash, 0 0 1.5rem $flash, 0 0 1.75rem $flash;
	}

	100% {
		@include defaultFlashLight();
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Prism Overwrite
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

code, pre {
	&[class*="language-"] {
		margin: 10px 0;
		font-family: "Migu 1M", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
		line-height: 1.2;
		tab-size: 4;
		-webkit-overflow-scrolling: touch;

		@include max-screen(xs) {
			max-height: 80vh;
		}

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		@media print {
			// color: #000000;
		}
	}
}

pre {
	&[class*="language-"] {
		> code {
			$size: 2.286em;

			@media (prefers-color-scheme: light) {
				background-size: $size $size;
			}
		}
	}
}

.line-highlight {
	@media print {
		display: none;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * サイドバー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

// @keyframes openList {
// 	from {
// 		display: hidden;
// 		transform: translateY(-400px);
// 	}

// 	to {
// 		display: block;
// 		transform: translateY(0);
// 		height: 100%;
// 	}
// }

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 240px;
	min-width: 240px;
	height: 100vh;
	min-height: 100vh;
	padding: 10px 0 2rem;
	overflow-y: scroll;
	border-style: solid;
	border-width: 0;
	border-right-width: 3px;
	border-image: linear-gradient(to bottom, #000011, #1164FF) 1/0 3px 0 0/0 stretch;

	@include max-screen(md) {
		position: static;
		width: 100%;
		height: auto;
		min-height: unset;
		padding-left: 2px;
		margin-bottom: 20px;
		border-bottom-width: 3px;
		border-left-width: 3px;
		border-image: linear-gradient(to bottom, #000011, #1164FF) 1/0 3px 5px/0 stretch;
		transition: all 0.5s ease-out;

		@media (prefers-color-scheme: light) {
			border-image-source: linear-gradient(to bottom, #FFFFFF, #1164FF);
		}
	}

	h2 {
		font-size: 1.5rem;
	}

	> ul {
		$menu-margin: 10px;

		@include max-screen(md) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 5px;
			padding-bottom: 10px;
		}

		> li {
			margin-top: 15px;

			@include max-screen(md) {
				margin-top: 10px;
			}

			@include max-screen(sm) {
				margin-top: 5px;
			}

			h3 {
				display: flex;
				align-items: center;
				padding-top: 3px;
				padding-left: $menu-margin;
				border-style: solid;
				border-width: 0;
				border-top-width: 3px;
				border-image: $gradation-pattern1 1/3px 0 0/0 stretch;
				animation: flashString 10s linear infinite;

				@include max-screen(md) {
					padding-left: 0;
				}

				a {
					display: inline-flex;
					align-items: center;
					margin: auto 0;
					line-height: 1em;
					animation: flashString 10s linear infinite;

					@media (prefers-color-scheme: light) {
						animation-name: flashStringLight;
					}
				}

				@media (prefers-color-scheme: light) {
					border-image-source: $gradation-pattern2;
					animation-name: flashStringLight;
				}
			}

			input {
				&[type="checkbox"] {
					display: none;
					visibility: hidden;

					&.panel-switch {
						&:not(:checked) {
							+ ul {
								max-height: 0;
								// display: none;
								// overflow: hidden;
								// height: 0;
								padding: 0;
								border-width: 0;

								li {
									visibility: hidden;
									// height: 0;
									opacity: 0;

									a {
										opacity: inherit;
									}

									// &:before {
									// content: unset;
									// }
								}
							}
						}
					}
				}
			}

			ul {
				padding-right: 2px;
				margin-left: calc(1em + #{$menu-margin + 2px});
				// animation: openList 0.2s linear all;
				text-indent: -1em;
				transition: all 0.5s ease-out;

				@include max-screen(md) {
					margin-left: calc(1em + 2px);
				}

				li {
					// overflow: hidden;
					transition: all 0.5s ease-out;

					&:before {
						padding-right: 2px;
						content: "├";
						transition: all 0.5s ease-out;
						animation: flashString 10s linear infinite;

						@media (prefers-color-scheme: light) {
							animation-name: flashStringLight;
						}
					}

					&:last-child {
						&:before {
							content: "└";
						}
					}
				}// End of li
			}// End of ul
		}// End of li
	}

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;

		@include max-screen(md) {
			width: 0;
			height: 0;
		}

		&-track {
			background-image: linear-gradient(to bottom, #000011, #1164FF);
			border-radius: 10px;

			@media (prefers-color-scheme: light) {
				background-image: linear-gradient(to bottom, #FFFFFF, #1164FF);
			}
		}

		&-thumb {
			background-image: linear-gradient(to bottom right, #CCCCCC, #888888);
			border-radius: 10px;
			// box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
		}
	}

	@media (prefers-color-scheme: light) {
		border-image-source: linear-gradient(to bottom, #FFFFFF, #1164FF);
	}

	@media print {
		display: none;
	}// End of ul
}

.nav-button {
	display: flex;
	justify-content: space-evenly;

	@supports (-ms-ime-align: auto) or ((-webkit-text-size-adjust: none) and (-webkit-marquee-repetition: infinite) and (object-fit: fill)) {
		justify-content: space-around;
	}

	button {
		width: 100px;
		height: 24px;
		font-size: 0.85rem;
		color: #FFFFFF;
		cursor: pointer;
		background-color: #1164FF;
		border: none;
		border-radius: 5px;
	}
}

.expand-box {
	$box-size: 20px;
	$font-size: 0.85rem;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;
	width: $box-size;
	height: $box-size;
	margin: auto 5px auto 0;
	font-size: $font-size;
	line-height: $font-size;
	cursor: pointer;
	border: 1px #FFFFFF solid;

	@media print, (prefers-color-scheme: light) {
		border-color: #000011;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * ヘッダー
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 0.35rem;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 5px;
	border-image: $gradation-pattern1 1/0 0 5px/0 stretch;

	h1 {
		padding-left: 2.5rem;

		@include max-screen(md) {
			padding-left: 5vw;
		}

		@include max-screen(sm) {
			font-size: 4.7vw;
		}
	}

	label {
		display: none;

		@include max-screen(md) {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 160px;
			height: 32px;
			margin: 0 5px 5px;
			font-size: 1.25rem;
			cursor: pointer;
			background-color: #1164FF;
			border-radius: 5px;
		}
	}

	@media print, (prefers-color-scheme: light) {
		border-image-source: $gradation-pattern2;
	}

	@media print {
		margin-top: 0;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

main {
	flex-grow: 2;
}

section {
	margin-top: 1.5rem;

	&:first-child {
		margin-top: 5px;
	}

	&:not(:first-child) {
		padding-top: 5px;
		border-style: solid;
		border-width: 0;
		border-top-width: 2px;
		border-image: $gradation-pattern1 1/2px 0 0/0 stretch;

		@media print, (prefers-color-scheme: light) {
			border-image-source: $gradation-pattern2;
		}
	}

	&:last-of-type {
		margin-bottom: 10rem;
	}

	h1, h2, h3, h4, h5, h6, p {
		padding: 0 0.5rem;
	}

	h1, h2, h3, h4, h5, h6 {
		+ p, + ul, + ol, + dl {
			margin-top: 1em;
		}
	}

	h3 {
		padding-left: 5px;
		margin-top: 5px;
		margin-left: 5px;
		border-left: 10px solid #1164FF;

		// -webkit-box-reflect: below -10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6));
	}

	h4 {
		margin-top: 5px;
		margin-left: 5px;
		border-left: 5px solid #1164FF;
	}

	ul {
		margin-left: 2rem;
		list-style: disc;

		li {
			padding-right: 10px;
		}
	}

	dl {
		padding-left: 0.5rem;

		dt {
			h1, h2, h3, h4, h5, h6 {
				padding: 0;
			}

			h3 {
				padding-left: 5px;
			}
		}

		dd {
			p {
				padding: 0;
			}

			ul {
				li {
					&:first-child {
						margin-top: 5px;
					}

					&:last-child {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	p {
		+ p {
			padding-top: 1rem;
		}

		+ h3 {
			@include max-screen(xs) {
				margin-top: 1.5rem;
			}
		}
	}
}

.object {
	&-safe {
		color: #33FF33;
	}

	&-euclid {
		color: #FFFF33;
	}

	&-keter {
		color: #FF3333;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * フッター
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */

.layout-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
	margin-top: 0.35rem;
	border-style: solid;
	border-width: 0;
	border-top-width: 5px;
	border-bottom-width: 20px;
	border-image: $gradation-pattern1 1/5px 0 20px/0 stretch;

	@include max-screen(sm) {
		flex-direction: column-reverse;
	}

	p {
		@include max-screen(sm) {
			box-sizing: border-box;
			width: 100%;
		}

		&:first-child {
			a {
				padding: 0 0 0 0.5rem;
				color: unset;
				text-decoration: line-through;
				animation: flashString 10s linear infinite;

				@media (prefers-color-scheme: light) {
					animation-name: flashStringLight;
				}

				@media print {
					color: #000000;
					animation: unset;
				}
			}

			b {
				font-weight: 900;
			}
		}

		&:last-child {
			margin-left: 2rem;
			text-align: right;
			white-space: nowrap;

			@include max-screen(sm) {
				margin-bottom: 15px;
				margin-left: 0;
			}
			@include max-screen(xs) {
				white-space: normal;
			}
		}
	}

	@media print, (prefers-color-scheme: light) {
		border-image-source: $gradation-pattern2;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * レスポンシブの設定
 * --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
