h2 HTML Manual Menu

.nav-button
	button#expandAll 全て展開
	button#collapseAll 全て折りたたむ

ul(role='menu')#navigation
	li
		h3
			label#btnMain.expand-box(for='linkMain') +
			a(href='category-main.html', title='Main') Main
		input#linkMain.panel-switch(type='checkbox' role='switch')
		include _main
	li
		h3
			label#btnCSS.expand-box(for='linkCSS') +
			a(href='category-css.html', title='CSS') CSS
		input#linkCSS.panel-switch(type='checkbox' role='switch')
		include _css
	li
		h3
			label#btnHTML.expand-box(for='linkHTML') +
			a(href='category-html.html', title='HTML') HTML
		input#linkHTML.panel-switch(type='checkbox' role='switch')
		include _html
	li
		h3
			label#btnJavaScript.expand-box(for='linkJavaScript') +
			a(href='category-js.html', title='JavaScript') JavaScript
		input#linkJavaScript.panel-switch(type='checkbox' role='switch')
		include _js
	li
		h3
			label#btnLanguage.expand-box(for='linkLanguage') +
			a(href='category-language.html', title='Language') Language
		input#linkLanguage.panel-switch(type='checkbox' role='switch')
		include _language
	li
		h3
			label#btnNode.expand-box(for='linkNode') +
			a(href='category-node.html', title='Node.js') Node.js
		input#linkNode.panel-switch(type='checkbox' role='switch')
		include _node
	li
		h3
			label#btnPHP.expand-box(for='linkPHP') +
			a(href='category-php.html', title='PHP') PHP
		input#linkPHP.panel-switch(type='checkbox' role='switch')
		include _php
	li
		h3
			label#btnSCSS.expand-box(for='linkSCSS') +
			a(href='category-scss.html', title='SCSS') SCSS
		input#linkSCSS.panel-switch(type='checkbox' role='switch')
		include _scss
	li
		h3
			label#btnSQL.expand-box(for='linkSQL') +
			a(href='category-sql.html', title='SQL') SQL
		input#linkSQL.panel-switch(type='checkbox' role='switch')
		include _sql
	li
		h3
			label#btnWordpress.expand-box(for='linkWordpress') +
			a(href='category-wordpress.html', title='Wordpress') Wordpress
		input#linkWordpress.panel-switch(type='checkbox' role='switch')
		include _wordpress
	li
		h3
			label#btnOther.expand-box(for='linkOther') +
			a(href='category-other.html', title='Other') Other
		input#linkOther.panel-switch(type='checkbox' role='switch')
		include _other
